<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ lang.t('home') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assess" href="/tabs/assess">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>{{ lang.t('assess') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="erp" href="/tabs/erp">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>{{ lang.t('erp') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="journal" href="/tabs/journal">
      <ion-icon name="journal-outline"></ion-icon>
      <ion-label>{{ lang.t('journal') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ lang.t('settings') }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
