:root {
  --ion-color-primary: #4F7CAC;
  --ion-color-primary-rgb: 79, 124, 172;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #456d97;
  --ion-color-primary-tint: #6189b4;

  --ion-color-secondary: #6BAE8E;
  --ion-color-secondary-rgb: 107, 174, 142;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #5e997d;
  --ion-color-secondary-tint: #7ab699;

  --ion-color-danger: #E05C5C;
  --ion-color-danger-rgb: 224, 92, 92;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #c55151;
  --ion-color-danger-tint: #e36c6c;

  --ion-background-color: #F8F7F4;
  --ion-text-color: #2D2D2D;
  --ion-font-family: 'Tajawal', 'Inter', sans-serif;
}
